.THIS img.user {
    border-radius: 50%;
    margin-right: .5rem; 
    margin-bottom: .5rem; 
}

.THIS .emoji {
	height: 22px;
    width: 22px;
    margin-right: 8px;
}

.THIS .slds-card__footer {
    text-align: left;
    padding: 0.5rem .75rem;
}

.THIS .layout-item {
    padding: .25rem;
}